.button {
    background-color: teal;
    color: white;
    margin: 10px;
    padding: 2px;
}

.buttonDone {
    max-width: 30px;
    min-height: 20px;
    background-image: url("../images/done.JPG");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 10px;
}

.buttonNotDone {
    max-width: 30px;
    min-height: 20px;
    background-image: url("../images/notDone.JPG");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    margin: 10px;
}

.binButton {
    max-width: 30px;
    min-height: 20px;
    background-image: url("../images/binIcon.JPG");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    margin: 20px;
}

@media (min-width: 767px) {
    .buttonDone {
        width: 50%;
    }
    .buttonNotDone {
    width: 50%;
    }
    .binButton {
    width: 50%;
    }