.tasks {
    max-width: 100%;
    list-style: none;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tasks__box {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 0px;
    border-bottom: none;
    list-style: none
}

@media (max-width: 767px) {
    .tasks__box {
        grid-template-columns: 1fr 2fr 1fr;
    }
}

.task__item {
    list-style: none;
    max-width: 100%;
}

.task__item--hidden {
    display: noun;
}

.task--done {
    text-decoration-line: line-through;
}

.task__button {
    max-width: 30px;
    max-height: 30px;
    display: flex;
    color: white;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    padding: 20px;
    margin: auto;
    border: none;
}

.task__buttonToggleDone {
    background-color: rgb(1, 107, 1);
    transition: 1s;
}

.task__buttonToggleDone:hover {
    background-color: rgb(1, 196, 1);
}

.task__binButton {
    background-color: rgb(202, 4, 4);
    transition: 1s;
}

.task__binButton:hover {
    background-color: rgb(247, 36, 36);
}

@media (max-width: 767px) {
    .task__buttonToggleDone {
        width: 50%;
    }

    .task__buttonToggleNotDone {
        width: 50%;
    }

    .task__binButton {
        width: 50%;
    }
}